{% extends 'mainh.html' %}

{% block title %}
AivanCrate - Главная
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 class="text-center mb-4">{{ t.main_title }}</h2>
    <p class="text-center">{{ t.main_text }} <a href="https://pointercrate.com/" class="text-orange-500 hover:underline">pointercrate.com</a>, {{ t.main_text_suffix }}</p>
    <h4 class="text-center mt-4">{{ t.main_enjoy }}</h4>
</div>
{% endblock %}

{% block center %}
<div class="container mt-5">
    <img src="static/images/title.png" alt="AivanCrate Logo" class="img-fluid rounded" style="max-width: 100%; height: auto;">
</div>
{% endblock %}