{% extends 'mainh.html' %}

{% block title %}
AivanCrate - Правила / Rules
{% endblock %}

{% block body %}
<style>
    .text-orange { color: orange; }
</style>
{% endblock %}

{% block center %}
<div class="container mt-5">
    <h2 class="text-center mb-5">{{ t.rules_title }}</h2>
    
    {% for prio in sorted_prios %}
        {% set rules_list = grlst[prio] %}
        
        {# Header color class #}
        {% set header_color_class = '' %}
        {% if prio == 1 %}
            {% set header_color_class = 'text-danger' %}
        {% elif prio == 2 %}
            {% set header_color_class = 'text-orange' %}
        {% elif prio == 3 %}
            {% set header_color_class = 'text-warning' %}
        {% endif %}
        
        {# Description for each priority #}
        {% if prio == 1 %}
            <h4 class="fs-3 text-start {{ header_color_class }} mb-3">{{ t.rules_main }}</h4>
        {% elif prio == 2 %}
            <h4 class="fs-3 text-start {{ header_color_class }} mb-3">{{ t.rules_secondary }}</h4>
        {% elif prio == 3 %}
            <h4 class="fs-3 text-start {{ header_color_class }} mb-3">{{ t.rules_warnings }}</h4>
        {% endif %}
        
        {# Color based on priority for list items #}
        {% set color_class = '' %}
        {% if prio == 1 %}
            {% set color_class = 'text-danger' %}  {# Bright red #}
        {% elif prio == 2 %}
            {% set color_class = 'text-orange' %}  {# Orange #}
        {% elif prio == 3 %}
            {% set color_class = 'text-warning' %}  {# Yellow #}
        {% endif %}
        
        {% for rule in rules_list %}
            <div class="card mb-4">
                <div class="card-body {{ color_class }}">
                    ({{ rule.rule_prio }}_{{ rule.rule_number }}):<br>
                    {{ rule.rule_desc_ru if lang == 'ru' else (rule.rule_desc_en or rule.rule_desc_ru) }}
                </div>
            </div>
        {% endfor %}
        
        <div class="mb-5"></div>  {# Extra margin between priorities #}
    {% endfor %}
</div>
{% endblock %}